body{
  background-color: rgb(68, 67, 67);
  margin: 0;

}
.tutorial{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

}
.play{
  color: white;
  background-color: rgb(66, 62, 62);
  padding: 10px;
  border-radius: 10px;
}
.control {
  margin: auto;
  display: flex;
  align-items: center;
}
.keyimg{
  width: 250px;
}
.direction{ 
  font-size: larger;
  margin: 20px;
  color: white;
}
.avoidwall{
  margin: auto;
  display: flex;
  align-items: center;
}
.avoidsnake{
  margin: auto;
  display: flex;
  align-items: center;
}
.screen{
  margin: auto;
  padding-bottom: 20px;
  width: 600px;
  height: auto;
  align-items: center;
  background-color: rgb(155, 199, 142);
}
.title{
  color: white;
  font-size: large;
  padding-top: 5px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.function{
  display: flex;
  background-color: black;
  padding: 10px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
}
.mainbox{

  margin: auto;
  width: 520px;
  height: auto;
  background-color: rgb(255, 0, 0);
  padding: 5px;
}
.score{
  color: white;
  display: flex ;
  align-items: center;
  margin: 0;
  margin: 0;
}
.outerbox{
  display: flex;
  
}
.innerbox{
  border:  solid 1px rgb(45, 43, 43);
  background-color: black;
  width: 20px;
  height: 20px;
}
.restart-button{
  border: none;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(185, 184, 184);
}
.restart-button:hover{
background-color: rgb(127, 124, 124);
cursor: pointer;
}
.restart-button:active{
  background-color: rgb(195, 192, 192);
  cursor:pointer;
}
.gameOver{
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%; 
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.gameOver-content{
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(42, 41, 41);
}
.gameOverDetails{
  
  width:150px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gameoverscore{
  font-size:20px;
  color: white;
  display: flex;
}
.overtitle{
  color: white;
  font-size:25px;
  font-weight: bold;
  text-align: center;
  
}